body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p {
    padding-top: 0;
}

.controls-info{
    width: 200px;
    position: relative;
    float:right;
    margin-right: 0px, 
}

.credits{
    position: absolute;
    top: 90%;
    margin-left: 40%;
}